body{
	color: #ddd;
	font-size: 18px;
	font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 121, color-stop(1.00, #001116), color-stop(0.00, #003447));
	background: -webkit-radial-gradient(50% 50%, circle, #003447, #001116);
	background: -moz-radial-gradient(50% 50%, circle, #003447, #001116);
	background: -o-radial-gradient(50% 50%, circle, #003447, #001116);
	background: -ms-radial-gradient(50% 50%, circle, #003447, #001116);
	background: radial-gradient(50% 50%, circle, #003447, #001116);
}

h1{
	font-size: 120%;
	text-align: center;
}

h2{
	margin: 30px 0 10px 0;
}

button{
	padding: 10px;
	margin: 3px;
	font-size: 100%;
}


.select_category{
	margin: 5px;
}

.times_selector{
	top: 0;
	left: 0;
	margin: 100px 0;
	text-align: center;
	display: none;
}

.info_view{
	text-align: center;
	display: none;
}

.info_view > .title{
	display: inline-block;
	margin: 50px 10px 0 10px;
	font-size: 200%;
	line-height: 100%;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.info_view > .subtitle{
	display: inline-block;
	font-size: 90%;
	margin: 0;
}

.info_view > .dir_info{
	display: inline-block;
	margin: 0 0 20px 0;
	font-size: 80%;
}

.info_view > .songs_num{
	position: absolute;
	right: 5px;
	bottom: 5px;
}

.info_view > .skip_song{
	font-size: 90%;
	padding: 3px;
}

.info_view > .skip_and_add_tjaignore{
	font-size: 70%;
	padding: 3px;
}

